langchain
langchain-core
langchain-community
langchain-groq
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
streamlit
pandas
numpy
tqdm
mysql-connector-python
google-generativeai
snowflake-connector-python
fastapi
uvicorn
ragas
datasets
evaluate